/* fix borders */

:root {
	--fc-border-color: var(--bs-border-color) !important;
	--fc-page-bg-color: var(--bs-tertiary-bg) !important;
	--fc-list-event-hover-bg-color: var(--bs-tertiary-bg) !important;
	--fc-daygrid-event-dot-width: 1em !important;
	--fc-list-event-dot-width: 1em !important;
}

.fc .fc-cell-shaded, .fc .fc-day-disabled {
	background: var(--bs-tertiary-bg) !important;
}

.fc-theme-standard td:last-child,
.fc-theme-standard th:last-child {
	border-right: 0px !important;
}

.fc-theme-standard td:last-child {
	border-bottom: 0px !important;
}

.fc-theme-standard .fc-scrollgrid {
	border: 0px !important;
}

.fc-theme-standard .fc-list {
	border: 0px !important;
}

.bootstrap-tagsinput {
	width: 100%;
	padding: 6px 12px;
	margin-bottom: 0px !important;
}
