<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="../boot.php"
  colors="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  >

  <php>
	<includePath>..</includePath>
    <env name="HZ_TEST_DB_HOST" value="db"/>
    <env name="HZ_TEST_DB_TYPE" value="postgres"/>
    <env name="HZ_TEST_DB_PORT" value=""/>
    <env name="HZ_TEST_DB_USER" value="test_user"/>
    <env name="HZ_TEST_DB_PASS" value="hubzilla"/>
    <env name="HZ_TEST_DB_DATABASE" value="hubzilla_test_db"/>
    <env name="HZ_TEST_DB_CHARSET" value="UTF8"/>
  </php>
  <testsuites>
    <testsuite name="Hubzilla default Test Suite">
      <directory suffix="Test.php">./unit/</directory>
    </testsuite>
    <testsuite name="API Test Suite">
      <directory suffix="Test.php" prefix="API">./unit/</directory>
    </testsuite>
  </testsuites>
  <coverage
      processUncoveredFiles="false"
      cacheDirectory=".cache/phpunit"
      >
    <include>
      <directory suffix=".php">../Zotlabs/</directory>
      <directory suffix=".php">../include/</directory>
    </include>
  </coverage>
</phpunit>
